In [20]:
import csv
import numpy as np
import pandas as pd

In [22]:
licaim = pd.read_csv('./deepf/list_category_img.csv')
licaim

                                               image_name  category_label
0         img/Sheer_Pleated-Front_Blouse/img_00000001.jpg               3
1         img/Sheer_Pleated-Front_Blouse/img_00000002.jpg               3
2         img/Sheer_Pleated-Front_Blouse/img_00000003.jpg               3
3         img/Sheer_Pleated-Front_Blouse/img_00000004.jpg               3
4         img/Sheer_Pleated-Front_Blouse/img_00000005.jpg               3
...                                                   ...             ...
289217  img/Paisley_Print_Babydoll_Dress/img_00000050.jpg              41
289218  img/Paisley_Print_Babydoll_Dress/img_00000051.jpg              41
289219  img/Paisley_Print_Babydoll_Dress/img_00000052.jpg              41
289220  img/Paisley_Print_Babydoll_Dress/img_00000053.jpg              41
289221  img/Paisley_Print_Babydoll_Dress/img_00000054.jpg              41

[289222 rows x 2 columns]

In [38]:
licaim = pd.read_csv('./deepf/list_category_img.csv', index_col = 'image_name')
licaim

                                                   category_label
image_name
img/Sheer_Pleated-Front_Blouse/img_00000001.jpg                 3
img/Sheer_Pleated-Front_Blouse/img_00000002.jpg                 3
img/Sheer_Pleated-Front_Blouse/img_00000003.jpg                 3
img/Sheer_Pleated-Front_Blouse/img_00000004.jpg                 3
img/Sheer_Pleated-Front_Blouse/img_00000005.jpg                 3
...                                                           ...
img/Paisley_Print_Babydoll_Dress/img_00000050.jpg              41
img/Paisley_Print_Babydoll_Dress/img_00000051.jpg              41
img/Paisley_Print_Babydoll_Dress/img_00000052.jpg              41
img/Paisley_Print_Babydoll_Dress/img_00000053.jpg              41
img/Paisley_Print_Babydoll_Dress/img_00000054.jpg              41

[289222 rows x 1 columns]

In [39]:
licaim.count()

category_label    289222
dtype: int64

In [40]:
licaim['category_label'].value_counts()

41    72158
18    36887
3     24557
32    19666
17    15429
33    14773
6     13311
16    13123
11    10467
19    10078
2      7495
48     7408
26     7076
42     6153
30     5013
29     4416
10     4048
34     3048
44     2294
39     2120
24     1669
35     1106
15      791
12      748
9       716
13      676
27      594
22      527
23      486
36      386
5       330
7       324
4       309
1       160
47      150
20      146
43      126
14       97
21       77
46       70
37       54
25       49
28       45
31       32
8        17
40       17
Name: category_label, dtype: int64

In [42]:
licaim['category_label'].nunique()

46